.animate-left-right {
  animation-name: left-right;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes left-right {
  0% {
    transform: translateX(0px);
  }

  50% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0px);
  }
}

.animate-slide-in-left {
  animation-name: slide-in-left;
  animation-duration: 1s;
}

@keyframes slide-in-left {
  from {
    translate: -100%;
  }

  to {
    translate: 0px;
  }
}

.animate-slide-in-right {
  animation-name: slide-in-right;
  animation-duration: 1s;
}

@keyframes slide-in-right {
  from {
    translate: 100%;
  }

  to {
    translate: 0px;
  }
}

.animate-bouncing-ball {
  animation-name: bouncing-ball;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bouncing-ball {
  0% {
    translate: 0px;
  }

  40% {
    translate: 0px 100px;
    height: 100px;
  }

  50% {
    translate: 0px 120px;
    height: 80px;
  }

  60% {
    translate: 0px 100px;
    height: 100px;
  }

  100% {
    translate: 0px;
  }
}
